.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameTitle-box {
  background-image: repeating-linear-gradient(
    -45deg,
    black,
    black 1rem,
    var(--army-green) 1rem,
    var(--army-green) 3rem
  );
  background-size: 200% 200%;
  animation: barberpole 40s linear infinite;
  border: solid var(--white) 10px;
  border-radius: 5px;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.gameTitle {
  font-family: "Staatliches", cursive;
  font-size: 100px;
  letter-spacing: 5px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

.button-box {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

.playButton {
  font-family: "Staatliches", cursive;
  font-size: 40px;
  letter-spacing: 3px;
  color: var(--white);
  transition: all 1s;
  border: 7px solid var(--white);
  border-radius: 5px;
  cursor: pointer;
  padding: 35px 100px 35px;
}

.playButton:hover {
  background: blue;
  transition: all 0.5s;
}
