.vertical-center {
  height: 100vh;
  display: flex;
  align-items: center;
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  color: var(--white);
  font-size: 70px;
  padding: 25px;
  margin: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Staatliches", cursive;
  padding: 25px;
}

.start-button {
  color: var(--white);
  padding: 50px 100px 50px;
  border-radius: 10px;
  margin: 20px;
  font-size: 40px;
  letter-spacing: 2px;
  transition: all 1.5s;
  border: 1px solid var(--white);
}

.start-button:hover {
  background: blue;
  transition: all 0.5s;
}


