html,
body {
  height: 100%;
  background-color: var(--black);
}

:root {
  --dark-green: #002f00;
  --emerald: #046306;
  --light-emerald: #1b842c;
  --mint: #3aab58;
  --light-mint: #4fc879;
  --black: black;
  --white: white;

}