html,
body {
  height: 100%;
  background-color: var(--black);
}

:root {
  --black: black;
  --white: white;
  --army-green: #6f7744;

}

.background {

  background-repeat: no-repeat;
  background-attachment: fixed;
}
