.vertical-center {
  height: 100vh;
  display: flex;
  align-items: center;
}

.game-card {

}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  color: var(--white);
}

.play-btn {
  display: flex;
  justify-content: center;
  border: 2px solid var(--white);
  border-radius: 2px;
  padding: 10px;
}

.mp3-animation {
  display: flex;
  justify-content: center;
  border: 2px solid var(--white);
  border-radius: 2px;
}

.answer-section {
  padding: 15px;
  margin: 10px;
}



