.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameTitle-box {
  border: solid var(--camo-green) 15px;
  border-radius: 5px;
  /* background-color:rgba(77, 162, 219, 0.76); */
}

.gameTitle {
  font-family: "Staatliches", cursive;
  font-size: 100px;
  letter-spacing: 5px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

.button-box {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

.playButton {
  background-color: black;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  letter-spacing: 3px;
  color: var(--white);
  transition: all 1s;
  border: 10px solid var(--camo-green);
  border-radius: 5px;
  cursor: pointer;
  padding: 35px 100px 35px;
}

.playButton:hover {
  background: var(--camo-green);
  transition: all 0.5s;
}


@media only screen and (max-width: 1000px) {
  .gameTitle-box {
    border: 10px solid var(--camo-green);
  }

  .gameTitle {
    font-size: 50px;
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
    letter-spacing: 2px;
  }

  .playButton {
    font-size: 30px;
    padding: 20px 100px 20px;
  }
}


@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .gameTitle-box {
    border: 10px solid var(--camo-green);
  }

  .gameTitle {
    font-size: 30px;
    padding: 0px;
    margin: 5px;
    margin-top: 20px;
    letter-spacing: 2px;
  }

  .playButton {
    font-size: 30px;
    padding: 20px 50px 20px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .gameTitle-box {
    border: 10px solid var(--camo-green);
  }

  .gameTitle {
    font-size: 30px;
    padding: 0px;
    margin: 5px;
    margin-top: 20px;
    letter-spacing: 2px;
  }

  .playButton {
    font-size: 30px;
    padding: 20px 70px 20px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .gameTitle-box {
    border: 10px solid var(--camo-green);
  }

  .gameTitle {
    font-size: 30px;
    padding: 0px;
    margin: 2px;
    margin-top: 30px;
    letter-spacing: 2px;
  }

  .playButton {
    font-size: 30px;
    padding: 20px 65px 20px;
  }
}




