.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameTitle-box {
  border: solid var(--camo-green) 15px;
  border-radius: 5px;
  /* background-color:rgba(77, 162, 219, 0.76); */
}


.gameTitle {
  font-family: "Staatliches", cursive;
  font-size: 100px;
  letter-spacing: 5px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

.button-box {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

.playButton {  
  background-color: black;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  letter-spacing: 3px;
  color: var(--white);
  transition: all 1s;
  border: 10px solid var(--camo-green);
  border-radius: 5px;
  cursor: pointer;
  padding: 35px 100px 35px;
}

.playButton:hover {
  background: var(--camo-green);
  transition: all 0.5s;
}
