.game-container {
}

.game-question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Staatliches", cursive;
  letter-spacing: 3px;
  color: var(--white);
  font-size: 80px;
  margin-bottom: 40px;
  margin-top: 30px;
 
}

.gun-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  color: var(--white);
  font-size: 40px;
}

.question-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  color: var(--white);
  font-size: 40px;
  margin: 10px;
}

.mp3-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.score-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-card {
  background-image: repeating-linear-gradient(
    -45deg,
    black,
    black 1rem,
    var(--army-green) 1rem,
    var(--army-green) 3rem
  );
  background-size: 200% 200%;
  animation: barberpole 40s linear infinite;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
  color: white;
  border: solid var(--white) 10px;
  border-radius: 5px;
  margin: 50px;
  padding: 50px;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-responses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

.replay-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  color: var(--white);
  transition: all 1s;
  border: 7px solid var(--white);
  border-radius: 5px;
  cursor: pointer;
  padding: 35px 100px 35px;

}

.replay-button:hover {
  background: blue;
  transition: all 0.5s;
}

.answer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.answer-btn {
  background-color: black;
  border: 7px solid blue;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 35px;
  font-family: "Staatliches", cursive;
  letter-spacing: 3px;
  transition: all 1s;
  
  
}

.answer-btn:hover {
  background: blue;
  transition: all 0.5s;
}

.gun-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}





