.game-container {
  padding-top: 100px;
  padding-bottom: 100px;
}


.gun-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  color: var(--white);
  font-size: 70px;
  padding: 20px;
}

.question-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  color: var(--white);
  font-size: 40px;
  padding: 30px;
}

.mp3-player {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  color: var(--white);
  font-size: 25px;
  padding: 30px;
}

.score-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-card {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  font-size: 30px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 4px solid blue;
}

.play-button {
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
  font-size: 25px;
  letter-spacing: 2px;
  transition: all 1.5s;
  border: 1px solid var(--white);
}

.play-button:hover {
  background: blue;
  transition: all 0.5s;
}

.answer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 10px; */
}

.answer-btn {

  background-color: transparent;
  border: 4px solid blue;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  margin: 15px;
  padding: 20px 45px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.answer-btn:hover,
.answer-btn:focus {
  color: var(--white);

}

.answer-btn {
  -webkit-transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
  transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
}
.answer-btn:hover {
  box-shadow: 0 0 40px 40px blue inset;
}

/* .answer-correct {
  background-color: green;
}

.answer-wrong {
  background-color: red;
}
 */

